.title-skeleton {
    padding: 1rem 0;
}

.content-results-header .react-loading-skeleton {
    --base-color: var(--skeleton-content-base);
    --highlight-color: var(--skeleton-content-highlight);
}

.content-sort-select-skeleton {
    width: 8rem;
    height: 2.5rem;
    border-radius: 0.3rem;
}

@media (min-width: 48rem) {
    .content-sort-select-skeleton {
        width: 10rem;
    }
}

@media (min-width: 64rem) {
    .content-sort-select-skeleton {
        margin: 0;
    }
}
