.backdrop-skeleton .react-loading-skeleton {
    --base-color: var(--skeleton-bg-base);
    --highlight-color: var(--skeleton-bg-highlight);
}

.content-container-skeleton {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 6rem 2rem 2rem 2rem;
}

.content-container-skeleton .react-loading-skeleton {
    --base-color: var(--skeleton-content-base);
    --highlight-color: var(--skeleton-content-highlight);
}

.content-container-skeleton .genres {
    display: flex;
    gap: 0.5rem;
}

@media (min-width: 40rem) {
    .content-container-skeleton {
        padding: 6rem 4rem 2rem 4rem;
    }
}

@media (min-width: 48rem) {
    .content-container-skeleton {
        padding: 6rem 4rem 2rem 4rem;
    }
}

@media (min-width: 64rem) {
    .content-container-skeleton {
        flex-direction: row;
        padding: 8rem 4rem;
        gap: 4rem;
        align-items: flex-start;
    }
}

@media (min-width: 90rem) {
    .content-container-skeleton {
        padding: 8rem;
        gap: 5rem;
    }
}
