.credits-section {
    padding: 4rem;
}

.credits-section h2 {
    display: inline-block;
    margin-bottom: 1rem;
}

.credits-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5rem;
}

.show-more-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-10);
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    aspect-ratio: 2 / 3;
}

.show-more-card:hover {
    background-color: var(--white-30);
    transform: translateY(-2px);
}

.show-more-card span {
    color: white;
    font-size: 1.1rem;
    transition: color 0.2s ease;
}

@media (min-width: 64rem) {
    .credits-section {
        padding: 4rem 6rem;
    }

    .credits-grid {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 2rem;
    }
}

@media (min-width: 90rem) {
    .credits-section {
        padding: 4rem 10rem;
    }
}
