.profile-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile-card img {
    border-radius: 1rem;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.5rem;

    line-height: 1.2rem;
}

.profile-info .name {
    font-size: 1.2rem;
    font-weight: 500;
}

.profile-info .role {
    color: var(--white-50);
}
