/* header */
.header {
    position: relative;
    font-family: var(--font-title);
}

/* header-bar */
.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color-30);
}

/* nav */
.nav {
    font-family: var(--font-body);
    position: relative;
}

.menu-btn {
    background-color: inherit;
    border: none;
}

.menu-list {
    position: absolute;
    top: 2.5rem;
    width: 10rem;
    padding: 0.5rem;
    border: 2px solid rgba(var(--color-primary-start-rgb), 0.8);
    border-radius: 0.5rem;
    background-color: var(--bg-color-80);
    backdrop-filter: blur(10px);

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: all 0.3s ease;
}

.menu-list li {
    width: 100%;
}

.menu-list li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.3rem;
}

.menu-list li > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.menu-list.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* logo */
.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: 700;
}
