/* HeaderSlider, BannerSlide, BannerInfo */

/* HeaderSlider */
.header-slider .header-swiper {
    --swiper-pagination-bullet-size: 12px;
    --swiper-pagination-color: rgb(255, 255, 255);
    --swiper-pagination-bullet-inactive-color: var(--white-30);
}
.header-slider .swiper-pagination-bullet-active {
    width: 20px;
    border-radius: 0.5rem;
}

.header-swiper-slide {
    position: relative;
}

/* BannerSlide */
.banner-img-container {
    display: flex;
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 5;
    overflow: hidden;
}

.banner-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-swiper-slide .overlay {
    position: absolute;
    inset: 0;
    background-color: var(--bg-color-50);
    font-family: var(--font-body);
}

/* BannerInfo */
.overlay .movie-info {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    padding-bottom: 5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: linear-gradient(var(--bg-color-00), var(--bg-color));
}

.movie-info h2 {
    font-size: 2rem;
    font-weight: 900;
    text-shadow: -2px -2px white;
}

.movie-info .movie-stats {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.movie-stats .vote-average {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.movie-stats .vote-average img {
    width: 16px;
    height: 16px;
}

.movie-info p {
    width: 100%;
    line-height: 1.2rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-info .play-btn {
    width: 6rem;
    background: var(--primary-gradient);
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 1rem;
    margin-top: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    font-size: 1rem;
    font-weight: 700;
    color: inherit;

    transition: transform 0.3s ease;
}

.movie-info .play-btn:hover {
    transform: translateY(-5px);
}

.movie-info .play-btn img {
    width: 20px;
    height: 20px;
}

@media (min-width: 40rem) {
    .banner-img-container {
        aspect-ratio: 4 / 5;
    }

    .overlay .movie-info {
        padding: 3rem;
        padding-bottom: 6rem;
    }

    .movie-info p {
        width: 80%;
    }

    .movie-info h2 {
        font-size: 2.5rem;
    }
}

@media (min-width: 48rem) {
    .banner-img-container {
        aspect-ratio: 1;
    }

    .overlay .movie-info {
        padding: 6rem;
        padding-bottom: 6rem;
    }

    .movie-info p {
        width: 70%;
    }
}

@media (min-width: 64rem) {
    .banner-img-container {
        aspect-ratio: 16 / 9;
    }

    .overlay .movie-info {
        padding: 10rem;
        padding-bottom: 6rem;
    }

    .movie-info h2 {
        font-size: 3rem;
        text-shadow: -2.5px -2.5px white;
    }
}
