/* Header */
.header {
    position: relative;
    font-family: var(--font-title);
}

/* HeaderBar */
.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(var(--bg-color), var(--bg-color-00));
    z-index: 10;
}

/* NavMenu */
.nav {
    font-family: var(--font-body);
    position: relative;
}

.menu-btn {
    background-color: inherit;
    border: none;
}

.menu-list {
    position: absolute;
    top: 2.5rem;
    width: 10rem;
    padding: 0.5rem;
    border: 2px solid rgba(var(--color-primary-start-rgb), 0.8);
    border-radius: 0.5rem;
    background-color: var(--bg-color-80);
    backdrop-filter: blur(10px);

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: all 0.3s ease;
}

.menu-list li {
    width: 100%;
}

.menu-list li:hover {
    background-color: var(--white-10);
    border-radius: 0.3rem;
}

.menu-list li > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.menu-list.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* Logo */
.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: 700;
}

/* SearchBox */
.search-form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.search-input {
    opacity: 0;
    width: 0;
    padding: 0.3rem 0.5rem;
    border: 2px solid var(--white-30);
    border-radius: 0.3rem;
    background-color: var(--bg-color);
    color: white;
    outline: none;
    transition: all 0.3s ease;
}

.search-input:focus {
    border-color: rgba(var(--color-primary-end-rgb), 0.8);
}

.search-input.open {
    width: 12rem;
    opacity: 1;
}

.search-btn {
    background-color: inherit;
    border: none;
    padding: 0.5rem;
}

/* HeaderSlider */
.header-slider .swiper {
    --swiper-pagination-bullet-size: 12px;
    --swiper-pagination-color: rgb(255, 255, 255);
    --swiper-pagination-bullet-inactive-color: var(--white-30);
}
.header-slider .swiper-pagination-bullet-active {
    width: 20px;
    border-radius: 0.5rem;
}

.swiper-slide {
    position: relative;
}

.swiper-slide img {
    width: 100%;
    object-fit: cover;
    height: 850px;
}

.swiper-slide .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-50);
    font-family: var(--font-body);
}

.overlay h2 {
    font-size: 2.5rem;
    font-weight: 900;
    text-shadow: -2px -2px white;
}

.overlay .movie-info {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    padding-bottom: 5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: linear-gradient(var(--bg-color-00), var(--bg-color));
}

.movie-stats {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.movie-stats .vote-average {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.movie-stats .vote-average img {
    width: 16px;
    height: 16px;
}

.movie-info p {
    width: 100%;
    line-height: 1.2rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.play-btn {
    width: 100%;
    background: var(--primary-gradient);
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 1rem;
    margin-top: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    font-size: 1rem;
    font-weight: 700;
    color: inherit;

    transition: all 0.3s ease;
}

.play-btn:hover {
    transform: translateY(-5px);
}

.play-btn img {
    width: 20px;
    height: 20px;
}
