/* header */
.header {
    position: relative;
    font-family: var(--font-title);
}

/* header-bar */
.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

/* logo */
.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: 700;
}
