/* Header */
.header {
    position: relative;
    font-family: var(--font-title);
}

/* HeaderBar */
.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color-30);
    z-index: 10;
}

/* NavMenu */
.nav {
    font-family: var(--font-body);
    position: relative;
}

.menu-btn {
    background-color: inherit;
    border: none;
}

.menu-list {
    position: absolute;
    top: 2.5rem;
    width: 10rem;
    padding: 0.5rem;
    border: 2px solid rgba(var(--color-primary-start-rgb), 0.8);
    border-radius: 0.5rem;
    background-color: var(--bg-color-80);
    backdrop-filter: blur(10px);

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: all 0.3s ease;
}

.menu-list li {
    width: 100%;
}

.menu-list li:hover {
    background-color: var(--white-10);
    border-radius: 0.3rem;
}

.menu-list li > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.menu-list.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* Logo */
.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: 700;
}

/* SearchBox */
.search-form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.search-input {
    opacity: 0;
    width: 0;
    padding: 0.3rem 0.5rem;
    border: 2px solid var(--white-30);
    border-radius: 0.3rem;
    background-color: var(--bg-color);
    color: white;
    outline: none;
    transition: all 0.3s ease;
}

.search-input:focus {
    border-color: rgba(var(--color-primary-end-rgb), 0.8);
}

.search-input.open {
    width: 12rem;
    opacity: 1;
}

.search-btn {
    background-color: inherit;
    border: none;
    padding: 0.5rem;
}

/* HeaderSlider */
.header-slider .swiper {
    --swiper-pagination-bullet-size: 12px;
    --swiper-pagination-color: rgb(255, 255, 255);
    --swiper-pagination-bullet-inactive-color: var(--white-30);
}
.header-slider .swiper-pagination-bullet-active {
    width: 20px;
    border-radius: 0.5rem;
}

.swiper-slide img {
    width: 100%;
    object-fit: cover;
    height: 850px;
}
