.trailer-bg {
    position: fixed;
    inset: 0;
    background-color: var(--bg-color-50);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.trailer-box {
    width: 80%;
    max-width: 64rem;
    aspect-ratio: 16 / 9;
}
