.trailer-btn {
    width: 6rem;
    background: var(--primary-gradient);
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 1rem;
    margin-top: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    font-size: 1rem;
    font-weight: 700;
    color: inherit;

    transition: transform 0.3s ease;
}

.trailer-btn:hover {
    transform: translateY(-5px);
}

.trailer-btn img {
    width: 20px;
    height: 20px;
}
