.trailer-bg {
    position: fixed;
    inset: 0;
    background-color: var(--bg-color-50);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    z-index: 10;
}

.trailer-box {
    width: 80%;
    max-width: 64rem;
    aspect-ratio: 16 / 9;
    background-color: var(--bg-color);

    position: relative;
}

.close-btn {
    position: absolute;
    top: -2.5rem;
    right: 0.5rem;

    background: none;
    border: none;
    color: inherit;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    /* background: var(--white-10); */
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;
}

.close-btn:hover {
    background: var(--white-30);
}

@media (min-width: 64rem) {
    .close-btn {
        top: -2.8rem;
        right: 0.8rem;
        width: 2.5rem;
        height: 2.5rem;
        font-size: 2.5rem;
    }
}
