/* ContentCard */
.content-card {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    aspect-ratio: 2 / 3;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0;
    transition: all 0.3s ease;
}

.card-image.loaded {
    opacity: 1;
}

.content-card:hover .card-image {
    transform: scale(1.05);
}

.content-card h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: var(--bg-color-80);
    font-weight: 500;
    font-size: 1rem;
}

.content-card .vote-average {
    position: absolute;
    top: 0;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: var(--bg-color-80);
    border-radius: 0.5rem;
}

.content-card:hover .fade-up {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
