.pagination {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.pagination button {
    padding: 0.4rem 0.8rem;
    background-color: inherit;
    color: inherit;
    border: none;
    border-radius: 0.5rem;
}

.pagination button:not(:disabled):hover {
    background-color: var(--white-30);
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: default;
}

.pagination-page {
    font-weight: 500;
    font-size: 1rem;
}

.pagination-page.active {
    color: rgba(var(--color-primary-end-rgb), 1);
    font-weight: 700;
    text-decoration: underline;
}

.pagination-prev::before {
    content: '< ';
}

.pagination-next::after {
    content: ' >';
}
