/* 전역 변수, 폰트, 컬러, 재사용 클래스 등 */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root {
    --font-title: 'Do Hyeon', sans-serif;
    --font-body: 'Pretendard', 'Noto Sans KR', sans-serif;
    --primary-gradient: linear-gradient(to right, rgba(30, 213, 169, 1), rgba(1, 180, 228, 1));
}

.gradient-text {
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
