/* 전역 변수, 폰트, 컬러, 재사용 클래스 등 */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root {
    --bg-color: rgb(10, 10, 10);
    --bg-color-80: rgba(10, 10, 10, 0.8);
    --bg-color-70: rgba(10, 10, 10, 0.7);
    --bg-color-50: rgba(10, 10, 10, 0.5);
    --bg-color-30: rgba(10, 10, 10, 0.3);
    --bg-color-00: rgba(10, 10, 10, 0);

    --white-80: rgba(255, 255, 255, 0.8);
    --white-30: rgba(255, 255, 255, 0.3);
    --white-10: rgba(255, 255, 255, 0.1);

    --font-title: 'Do Hyeon', sans-serif;
    --font-body: 'Pretendard', 'Noto Sans KR', sans-serif;

    --color-primary-start-rgb: 30, 213, 169;
    --color-primary-end-rgb: 1, 180, 228;
    --primary-gradient: linear-gradient(
        to right,
        rgba(var(--color-primary-start-rgb), 1),
        rgba(var(--color-primary-end-rgb), 1)
    );

    /* 배경 Skeleton 색상 */
    --skeleton-bg-base: #1c1c1c;
    --skeleton-bg-highlight: #2a2a2a;

    /* 내용 Skeleton 색상 */
    --skeleton-content-base: #2a2a2a;
    --skeleton-content-highlight: #3a3a3a;
}

.gradient-text {
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.hidden {
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* 평점 */
.meta-item {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.meta-item img {
    width: 16px;
    height: 16px;
}

/* 공통 fade-up 효과 */
.fade-up {
    opacity: 0;
    transform: translateY(20%);
    transition: all 0.3s ease;
    pointer-events: none;
}

/* 공통 overlay */
.overlay {
    position: absolute;
    inset: 0;
    background-color: var(--bg-color-50);
    font-family: var(--font-body);
    background: linear-gradient(var(--bg-color-00), var(--bg-color));
}
