/* 글초기화 + 기본 HTML 스타일 */
* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}
