/* ContentList */
.content-list {
    margin: 1rem;
}

.content-list-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.content-list h2 {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 0;
}

.content-list h2::before {
    content: '|';
    padding-right: 0.5rem;
}

.content-header-btn {
    border: 2px solid var(--white-80);
    border-radius: 0.5rem;
    overflow: hidden;
}

.content-header-btn button {
    padding: 0.3rem 0.8rem;
    font-size: 0.8rem;
    font-weight: 700;
    color: inherit;
    background-color: var(--bg-color);
    border: none;
    transition: background 0.3s ease;
}

.content-header-btn button:hover {
    background: var(--white-30);
}

.content-header-btn button.active {
    background: var(--primary-gradient);
}

/* ContentSwiper */
.content-list .content-swiper {
    position: relative;
    padding: 1.5rem;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    width: 2.5rem;
    height: 2.5rem;
    color: inherit;
    border: none;
    background: var(--bg-color-50);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

.prev-btn img {
    transform: scale(-1, 1);
}

.prev-btn img,
.next-btn img {
    width: 1rem;
}

.prev-btn:hover,
.next-btn:hover {
    background: var(--primary-gradient);
}

/* ContentCard */
.content-card {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    aspect-ratio: 2 / 3;
}

.content-card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.content-card:hover img {
    transform: scale(1.05);
}

.content-card h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: var(--bg-color-80);
    font-weight: 500;
    font-size: 1rem;
}

.content-card .vote-average {
    position: absolute;
    top: 0;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: var(--bg-color-80);
    border-radius: 0.5rem;
}

/* 공통 fade-up 효과 */
.fade-up {
    opacity: 0;
    transform: translateY(20%);
    transition: all 0.3s ease;
    pointer-events: none;
}

.content-card:hover .fade-up {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

@media (min-width: 40rem) {
    .content-list {
        margin: 2rem;
    }
}

@media (min-width: 48rem) {
    .content-list {
        margin: 3.5rem;
    }

    .content-list h2 {
        font-size: 2rem;
    }

    .content-header-btn button {
        font-size: 1rem;
    }

    .prev-btn,
    .next-btn {
        width: 3rem;
        height: 3rem;
    }

    .prev-btn img,
    .next-btn img {
        width: 1.5rem;
    }
}

@media (min-width: 64rem) {
    .content-list {
        margin: 5rem;
    }

    .prev-btn,
    .next-btn {
        width: 3.5rem;
        height: 3.5rem;
    }
}

@media (min-width: 90rem) {
    .content-list {
        margin: 5rem 8rem;
    }
}
