.recommended-section {
    padding: 4rem;
}

.recommended-section h2 {
    display: inline-block;
    margin-bottom: 1rem;
}

.recommended-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5rem;
}

@media (min-width: 64rem) {
    .recommended-section {
        padding: 4rem 6rem;
    }

    .recommended-grid {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 2rem;
    }
}

@media (min-width: 90rem) {
    .recommended-section {
        padding: 4rem 10rem;
    }
}
